:root{
    --accent-color:rgba(33, 150, 243, 1);
    --logo-color:rgba(0, 0, 0, 1);
    --subtitles-color:rgba(33, 33, 33, 1);
    --text-color:rgba(117, 117, 117, 1);
    --hero-section: rgba(47, 48, 58, 1);
    --background-color:rgba(245, 244, 250, 1);
    --title-color: rgba(255, 255, 255, 1);
    --contact-color: rgba(255, 255, 255, 0.6);
    --border-color: rgba(238, 238, 238, 1);
    --portfolio-color: rgba(236, 236, 236, 1);
    --gradient-color:rgba(47, 48, 58, 0.4);
    --shadow:rgba(0, 0, 0, 0.12);
    --shadow-team:rgba(0, 0, 0, 0.14);
    --shadow-employees:rgba(0, 0, 0, 0.20);
    --button:rgba(0, 0, 0, 0.15);
    --btn-hover:rgba(0, 0, 0, 0.10);
    --btn-portfolio:rgba(0, 0, 0, 0.08);
    --portfolio-item:rgba(0, 0, 0, 0.06);
    --item:rgba(0, 0, 0, 0.16);
    --costomers:rgba(175, 177, 184, 1);
    --footer: rgba(255, 255, 255, 0.10);
    --works-color:rgba(47, 48, 58, 0.80);
}
.container{
    width: 1200px;
    outline: solid 2px blue;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body{
    font-family: "Roboto";
}
/* Header */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-box{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.header-logo{
    margin-right: 93px;
    color:var(--accent-color);
    font-family:Raleway;
    font-size: 26px;
    line-height: 1.38;
    font-weight: 700;
}
span.header-element{
    color: var(--logo-color);
}
.nav-link{
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link:hover{
    color: var(--accent-color);
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}   
.header-link{
    color:var(--text-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
    align-items: center;
}
.header-link:hover{
    color: var(--accent-color);
    .header-icon{
        fill: var(--accent-color);
        }
}
.header-icon{
    width: 16px;
height: 12px;
fill: var(--text-color);
margin-right:  10px; ;
}
.icon{
    width: 10px;
height: 16px;
}
.header-icon::before{
    content: "";
}
/* Hero section */
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.4)), url(../images/team.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center ;
}
.hero-title{
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px ;
}
.hero-button{
    background-color:var(--accent-color);
    top: 430px;
    left: 692px;
    color:var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    padding:10px 32px ;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px var(--button);
}
/* Переваги наших послуг  */
.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap:30px ;
}
.advantages-list{
    display: flex;
    gap: 30px;
}
.advantages-item::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    background-color: var(--background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}
 .advantages-item:first-child::before{
    background-image: url(../images/antenna.webp);
 }
 .advantages-item:nth-child(2)::before{
    background-image: url(../images/clock.webp);
 }
 .advantages-item:nth-child(3)::before{
    background-image: url(../images/diagram.webp);
 }
 .advantages-item:last-child::before{
    background-image: url(../images/astronaut.webp);
 }
.advantages-subtitles{
    width: 270px;
    height: 16px;
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-text{
    color:var(--text-color);
    font-size: 14px;
font-weight: 400;
line-height:1.71;
}
/* Чим ми займаємось? */
.works{
    padding-bottom: 94px;
    text-align: center;
}
.works-subtitle{
    color:var(--subtitles-color);
    font-size: 36px;
font-weight: 700;
line-height: 1.17;
margin-bottom: 50px;
}
.works-list{
    display: flex;
    gap: 30px;
}
.works-item{
    position: relative;
}
.works-pictures{
    width: 370px;
    height: 294px;
}
.works-text{
    color: var(--title-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background-color: var(--works-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}
/* Наша команда */
 .team{
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
 }
.team-title{
    color:var(--subtitles-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-item{
    box-shadow: 0px 1px 3px 0px var(--shadow), 0px 1px 1px 0px var(--shadow-team), 0px 2px 1px 0px var(--shadow-employees);
    border-radius: 4px;
}
.team-picture{
    width: 270px;
    height: 260px;
}
.team-employees{
    background-color: var(--title-color);
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 4px;
}
.team-subtitles{
    color: var(--subtitle-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height:1.19;
    margin-bottom: 10px;
}
.team-text{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height:1.19;
}
.team-elements{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.team-link{
    width: 44px;
height: 44px;
border-radius: 50%;
background-color: var(--title-color);
display: flex;
justify-content: center;
align-items: center;
}
.team-link:hover{
    background-color: var(--accent-color);
    .team-icon{
        fill: var(--title-color);
    }
}
.team-icon{
    fill: var(--costomers);
    width: 20px;
height: 20px;
}
/* Постійні клієнти */
.customers{
    padding-top: 94px;
    padding-bottom: 94px;   
}
.customers-title{
    color: var(--subtitle-color);
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.customers-list{
    display: flex;
    gap: 30px;
}
.customers-link{
    width: 170px;
height: 92px;
    border-radius: 4px;
border: 1px solid var(--costomers);
display: flex;
align-items: center;
justify-content: center;
}
.customers-link:hover{
    border: 1px solid var(--accent-color);
    .customers-icon{
        fill: var(--accent-color);
        }
}
.customers-icon{
    width: 106px;
height: 60px;
fill: var(--costomers);
}
/* Портфоліо */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--title-color);
    border: 1px solid var(--portfolio-color);
}
.button-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
}
.portfolio-btn{
    background-color:var(--background-color);
    color:var(--subtitles-color);
    text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
padding: 6px 22px;
border: none;
border-radius: 4px;
    
}
.portfolio-btn:hover{
    background-color:var(--accent-color);
    color: var(--title-color);
    box-shadow: 0px 3px 1px 0px var(--btn-hover), 0px 1px 2px 0px var(--btn-portfolio), 0px 2px 2px 0px var(--shadow);
}
.active{
    color: var(--accent-color);
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item{
    outline: 1px solid var(--border-color);
    flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item:hover{
    box-shadow: 0px 1px 1px 0px var(--shadow), 0px 4px 4px 0px var(--portfolio-item), 1px 4px 6px 0px var(--item);
}
.portfolio-info{
    padding: 20px 24px;
}
.portfolio-title{
    color:var(--subtitles-color);
    font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.portfolio-text{
    color:var(--text-color);
    font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}
/* Footer */
.footer{
    background-color: var(--hero-section);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-list{
    display: flex;
    align-items:baseline;
    gap: 70px;
}
.footer-logo{
    color: var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
display: inline-block;
margin-bottom: 20px;
}
span.footer-elemen{
    color:var(--title-color);
}
.footer-link{
    color:var(--title-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer-address{
    color:var(--title-color);
    display: flex;
    flex-direction: column;
    gap: 9px;
}
 .contact-item:first-child{
    margin-bottom: 9px;
 }
.footer-contact{
    color:var(--contact-color);
    font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}
.footer-titles{
    color: var(--title-color);
font-family: "Roboto";
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}
.footer-elements{
    display: flex;
    gap: 10px;
}
.footer-links{
    width: 44px;
height: 44px;
background-color: var(--footer);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.footer-links:hover{
    background-color: var(--accent-color);
    .footer-icon{
        fill: var(--title-color);
    }
}
.footer-icon{
    fill: var(--title-color);
    width: 20px;
height: 20px;
}
.mailing-title{
color: var(--title-color);
font-family: "Roboto";
font-size: 14px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}
.mailing-form{
    display: flex;
    align-items: center;
}
.mailing-input{
    width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-right: 12px;
padding-left: 16px;
}
.mailing-btn{
    width: 200px;
height: 50px;
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: var(--title-color);
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-weight: 700;
line-height: 1,87;
letter-spacing: 0.96px;
border: none;
display: flex;
align-items: center;
justify-content: center;
}
.mailing-icon{
    width: 24px;
    height: 24px;
    fill: var(--title-color);
    margin-left: 10px;
}
/* Model */
.backgdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
}
.model{
    border-radius: 4px;
background: var(--title-color);
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
width: 528px;
position: relative;
padding: 40px;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: var(--title-color);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    outline: 1px solid var(--btn-hover);
    background-color: transparent;
position: absolute;
top: 8px;
right: 8px;
display: flex;
justify-content: center;
align-items: center;
}
.modal-cros{
    width: 18px;
height: 18px;
fill: var(--logo-color);
}
.modal-close:hover,
.modal-close:focus{
    border: 0px solid transparent;
    outline: 1px solid var(--btn-hover);
    .modal-cros{
        fill: var(--accent-color);
    }

}
.modal-title{
color: var(--subtitle-color);
text-align: center;
font-family: "Roboto";
font-size: 20px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal-icon{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.modal-label{
    color: var(--text-color);
font-family: "Roboto";
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.12px;
position: relative;
}
.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
display: block;
margin-top: 4px;
margin-bottom: 10px;
padding-left: 42px;
}
.modal-input:hover,
.modal-input:focus{
    border: none;
    outline: 1px solid var(--accent-color);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon{
    fill: var(--accent-color);
}
.modal-coment{
    width: 100%;
    height: 120px;
    border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
resize: none;
padding: 12px 16px;
color: rgba(117, 117, 117, 0.50);
font-family: "Roboto";
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.12px;
margin-bottom: 20px;
margin-top: 4px;
}
.modal-wrap{
display: flex;
align-items: center;
justify-content: center;
}
.modal-chek{
    width: 16px;
height: 15px;
color: black;
}
.modal-text{
    color: var(--text-color);
font-family: "Roboto";
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
margin-right: 5px;
margin-left: 8px;
}
.modal-link{
    color: var(--accent-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 1,71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; 
}
.modal-box{
    display: flex;
    justify-content: center;
}
.modal-btn{
    width: 200px;
height: 50px;
color: var(--title-color);
font-family: "Roboto";
font-size: 16px;
font-weight: 700;
line-height: 1,87;
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding: 10px 52px;
margin-top: 30px;
border: none;
}
