:root{
    --accent-color:rgba(33, 150, 243, 1);
    --logo-color:rgba(0, 0, 0, 1);
    --subtitles-color:rgba(33, 33, 33, 1);
    --text-color:rgba(117, 117, 117, 1);
    --hero-section-footer-color: rgba(47, 48, 58, 1);
    --background-color:rgba(245, 244, 250, 1);
    --title-color: rgba(255, 255, 255, 1);
    --contact-color: rgba(255, 255, 255, 0.6);
}
body{
    font-family: "Roboto";
}
/* Header */
.header-logo{
    color:var(--accent-color);
    font-family:Raleway;
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
}
span.header-element{
    color: var(--logo-color);
}
.nav-link{
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link:hover{
    color: var(--accent-color);
}   
.header-link{
    color:var(--text-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-link:hover{
    color: var(--accent-color);}
/* Hero section */
.hero{
    width: 1600px;
    height: 600px;
    top: 80px;
    background-color: var(--hero-section-footer-color);
}
.hero-title{
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36364;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-button{
    background-color:var(--accent-color);
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    color:var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
}
/* Переваги наших послуг  */
.advantages-subtitles{
    width: 270px;
    height: 16px;
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 700;
line-height: 1.142;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.advantages-text{
    color:var(--text-color);
    font-size: 14px;
font-weight: 400;
line-height:1.7142;
}
/* Чим ми займаємось? */
.works-subtitle{
    color:var(--subtitles-color);
    font-size: 36px;
font-weight: 700;
line-height: 1.17;
}
.works-picture{
    width: 370px;
    height: 294px; 
}
/* Наша команда */
/* .team{
    width:1600px;
    height:648px;
    color:var(--background-color);
} */
.team-title{
    color:var(--subtitles-color);
    text-align: center;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}
.team-subtitles{
    color: var(--subtitle-color);
    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height:1.187;
}
.team-text{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height:1.187;
}
/* Портфоліо */
.portfolio-btn{
    background-color:var(--button-color);
    color:var(--subtitles-color);
    width: 125px;
    height: 38px;
    text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
    
}
.portfolio-btn:hover{
    background-color:var(--accent-color);
    color:var(--titles-color);
}
.portfolio-title{
    color:var(--subtitles-color);
    font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
}
.portfolio-text{
    color:var(--text-color);
    font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}
/* Footer */
.footer{
    background-color: var(--hero-section-footer-color);
    width: 1600px;
    height: 252px;
}
.footer-link{
    color:var(--title-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer-address{
    color:var(--title-color);
}
.footer-contact{
    color:var(--contact-color);
    font-size: 14px;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.42px;
}
.footer-logo{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
span.footer-element{
    color:var(--title-color);
}