:root{
    --accent-color:rgba(33, 150, 243, 1);
    --logo-color:rgba(0, 0, 0, 1);
    --subtitles-color:rgba(33, 33, 33, 1);
    --text-color:rgba(117, 117, 117, 1);
    --hero-section-footer-color: rgba(47, 48, 58, 1);
    --background-color:rgba(245, 244, 250, 1);
    --title-color: rgba(255, 255, 255, 1);
    --contact-color: rgba(255, 255, 255, 0.6);
    --border-color: rgba(238, 238, 238, 1);
    --portfolio-color: rgba(236, 236, 236, 1);
}
.container{
    width: 1200px;
    /* outline: solid 2px black; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body{
    font-family: "Roboto";
}
/* Header */
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-box{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.header-logo{
    margin-right: 93px;
    color:var(--accent-color);
    font-family:Raleway;
    font-size: 26px;
    line-height: 1.38;
    font-weight: 700;
}
span.header-element{
    color: var(--logo-color);
}
.nav-link{
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.nav-link:hover{
    color: var(--accent-color);
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}   
.header-link{
    color:var(--text-color);
    font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-link:hover{
    color: var(--accent-color);}
/* Hero section */
.hero{
    top: 80px;
    background-color: var(--hero-section-footer-color);
    padding-top: 200px;
    padding-bottom: 200pt;
    text-align: center;
}
.hero-title{
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px ;
}
.hero-button{
    background-color:var(--accent-color);
    top: 430px;
    left: 692px;
    color:var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    padding:10px 32px ;
    border-radius: 4px;
    border: none;
}
/* Переваги наших послуг  */
.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap:30px ;
}
.advantages-list{
    display: flex;
    gap: 30px;
   
}
.advantages-subtitles{
    width: 270px;
    height: 16px;
    color:var(--subtitles-color);
    font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-text{
    color:var(--text-color);
    font-size: 14px;
font-weight: 400;
line-height:1.71;
}
/* Чим ми займаємось? */
.works{
    padding-bottom: 94px;
    text-align: center;
    background-color: green;
}
.works-subtitle{
    color:var(--subtitles-color);
    font-size: 36px;
font-weight: 700;
line-height: 1.17;
margin-bottom: 50px;
}
.works-list{
    display: flex;
    gap: 30px;
}
.works-pictures{
    width: 370px;
    height: 294px;
}
/* Наша команда */
 .team{
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
 }
.team-title{
    color:var(--subtitles-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-picture{
    width: 270px;
    height: 260px;
}
.team-employees{
    background-color: var(--title-color);
    padding-bottom: 30px;
    padding-top: 30px;
}
.team-subtitles{
    color: var(--subtitle-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height:1.19;
    margin-bottom: 10px;
}
.team-text{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height:1.19;
}
/* Портфоліо */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--title-color);
    border: 1px solid var(--portfolio-color);
}
.button-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    flex-wrap: nowrap;
}
.portfolio-btn{
    background-color:var(--background-color);
    color:var(--subtitles-color);
    width: 125px;
    height: 38px;
    text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
padding: 6px 22px;
border: none;
border-radius: 4px;
    
}
.portfolio-btn:hover{
    background-color:var(--accent-color);
    color: var(--title-color);
}
.portfolio-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.portfolio-item{
    outline: 1px solid var(--border-color);
}
.portfolio-info{
    padding: 20px 24px;
}
.portfolio-title{
    color:var(--subtitles-color);
    font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.portfolio-text{
    color:var(--text-color);
    font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}
/* Footer */
.footer{
    background-color: var(--hero-section-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
display: inline-block;
margin-bottom: 20px;
}
span.footer-element{
    color:var(--title-color);
}
.footer-link{
    color:var(--title-color);
font-size: 14px;
font-weight: 400;
line-height:1.71;
letter-spacing: 0.42px;
}
.footer-address{
    color:var(--title-color);
    display: flex;
    flex-direction: column;
    gap: 9px;
}
 .footer-item:first-child{
    margin-bottom: 9px;
 }
.footer-contact{
    color:var(--contact-color);
    font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}