@import "./base/reset";
@import"./base/utils";
@import "./base/var";
@import "./base/common";
@import "./base/container";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/advantages";
@import "./sections/works";
@import "./sections/team";
@import "./sections/customers";
@import "./sections/portfolio";
@import "./sections/footer";
@import "./sections/modal";
