@charset "UTF-8";
a {
  text-decoration: none;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto";
}

.container {
  width: 1200px;
  outline: solid 2px blue;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
  color: rgb(33, 150, 243);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.38;
  font-weight: 700;
}
.header__element {
  color: rgb(0, 0, 0);
}
.header__list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.header__link {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  color: rgb(33, 150, 243);
}
.header__link:hover .header__icon {
  fill: rgb(33, 150, 243);
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list {
  display: flex;
  gap: 50px;
}
.nav__item {
  position: relative;
}
.nav__link {
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: rgb(33, 150, 243);
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgb(33, 150, 243);
  border-radius: 10px;
  position: absolute;
  left: 0px;
  bottom: -34px;
  opacity: 0;
  transform: scale(0);
  /* visibility: hidden; */
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover::after {
  display: block;
  opacity: 1;
  transform: scale(1);
  /* visibility: visible; */
}

.active {
  color: rgb(33, 150, 243);
}

.icon {
  width: 10px;
  height: 16px;
}

/* Hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.webp);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.hero__title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero__button {
  background-color: rgb(33, 150, 243);
  top: 430px;
  left: 692px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px var(--button);
}

/* Переваги наших послуг  */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}
.advantages__list {
  display: flex;
  gap: 30px;
}
.advantages__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages__item:first-child::before {
  background-image: url(../images/antenna.webp);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/clock.webp);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../images/diagram.webp);
}
.advantages__item:last-child::before {
  background-image: url(../images/astronaut.webp);
}
.advantages__subtitles {
  width: 270px;
  height: 16px;
  color: rgb(33, 33, 33);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* Чим ми займаємось? */
.works {
  padding-bottom: 94px;
  text-align: center;
}
.works__subtitle {
  color: rgb(33, 33, 33);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}
.works__list {
  display: flex;
  gap: 30px;
}
.works__item {
  position: relative;
}
.works__pictures {
  width: 370px;
  height: 294px;
}
.works__text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */
.team {
  background-color: rgb(245, 244, 250);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.team__picture {
  width: 270px;
  height: 260px;
}
.team__employees {
  background-color: rgb(255, 255, 255);
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 4px;
}
.team__subtitles {
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__text {
  color: rgb(117, 117, 117);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
}
.team__elements {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  background-color: rgb(33, 150, 243);
}
.team__link:hover .team__icon {
  fill: rgb(255, 255, 255);
}
.team__icon {
  fill: rgb(175, 177, 184);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Постійні клієнти */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__title {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  gap: 30px;
}
.customers__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover {
  border: 1px solid rgb(33, 150, 243);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .customers__icon {
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
}

/* Портфоліо */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
}
.portfolio__btn {
  background-color: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__position {
  position: relative;
  overflow: hidden;
}
.portfolio__item {
  outline: 1px solid rgb(238, 238, 238);
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__item:hover .position__text {
  opacity: 1;
  transform: translateY(0);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio__info {
  padding: 20px 24px;
}
.portfolio__title {
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.portfolio__text {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.button__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  flex-wrap: nowrap;
}

.position__text {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
}

/* Footer */
.footer {
  background-color: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
  /* Посилання  */
}
.footer__list {
  display: flex;
  align-items: baseline;
}
.footer__wrapper {
  margin-right: 70px;
}
.footer__logo {
  color: rgb(33, 150, 243);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__elemen {
  color: rgb(255, 255, 255);
}
.footer__link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__address {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__wrap {
  margin-right: 93px;
}
.footer__titles {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__elements {
  display: flex;
  gap: 10px;
}
.footer__links {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__links:hover {
  background-color: rgb(33, 150, 243);
}
.footer__links:hover .footer__icon {
  fill: rgb(255, 255, 255);
}
.footer__icon {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
}

/* Розсилка */
.mailing__title {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.mailing__form {
  display: flex;
  align-items: center;
}
.mailing__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
}
.mailing__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 87;
  letter-spacing: 0.96px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
}
.mailing__icon {
  width: 24px;
  height: 24px;
  fill: rgb(255, 255, 255);
  margin-left: 10px;
}

.contact__item:first-child {
  margin-bottom: 9px;
}

/* Model */
.backgdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 528px;
  position: relative;
  padding: 40px;
  transform: translate(0);
  transition-property: transform;
  transition-duration: 1500ms;
  transition-timing-function: ease-in;
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.modal__close:hover,
.modal__close .modal__close:focus {
  border: 0px solid transparent;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close:hover .modal__cros,
.modal__close .modal__close:focus .modal__cros {
  fill: rgb(33, 150, 243);
}
.modal__cros {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.12px;
  position: relative;
}
.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover,
.modal__input .modal__input:focus {
  border: none;
  outline: 1px solid rgb(33, 150, 243);
}
.modal__input:hover + .modal__icon,
.modal__input:hover .modal__input:focus + .modal-icon,
.modal__input .modal__input:focus + .modal__icon,
.modal__input .modal__input:focus .modal__input:focus + .modal-icon {
  fill: rgb(33, 150, 243);
}
.modal__coment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  margin-top: 4px;
}
.modal__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__chek {
  width: 16px;
  height: 15px;
  color: black;
}
.modal__text {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-right: 5px;
  margin-left: 8px;
}
.modal__link {
  color: rgb(33, 150, 243);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.modal__box {
  display: flex;
  justify-content: center;
}
.modal__btn {
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1, 87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin-top: 30px;
  border: none;
}

.is-hidden .modal {
  transform: translateY(1000px) rotate(720deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */