/* Переваги наших послуг  */
.advantages{
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap:30px ;

    &__list{
        display: flex;
        gap: 30px;
    }

    &__item{
        &::before{
            content: "";
            display: block;
            width: 270px;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px;
            background-color: $background-color;
            border-radius: 4px;
            margin-bottom: 30px;
        }
        &:first-child::before{
            background-image: url(../images/antenna.webp);
         }
        &:nth-child(2)::before{
            background-image: url(../images/clock.webp);
         }
        &:nth-child(3)::before{
            background-image: url(../images/diagram.webp);
         }
        &:last-child::before{
            background-image: url(../images/astronaut.webp);
         }
    }
    &__subtitles{
        width: 270px;
        height: 16px;
        color:$subtitles-color;
        font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    }
    &__text{
        color:$text-color;
        font-size: 14px;
    font-weight: 400;
    line-height:1.71;
    }
}




