/* Постійні клієнти */
.customers{
    padding-top: 94px;
    padding-bottom: 94px;   
}
.customers-title{
    color: $subtitle-color;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-weight: 700;
line-height: 1.5;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.customers-list{
    display: flex;
    gap: 30px;
}
.customers-link{
    width: 170px;
height: 92px;
    border-radius: 4px;
border: 1px solid $costomers;
display: flex;
align-items: center;
justify-content: center;
transition-property:fill;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
}
.customers-link:hover{
    border: 1px solid $accent-color;
    transition-property: color;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    .customers-icon{
        fill: $accent-color;
        transition-property: fill;
transition-duration: 250ms;
transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1)
        }
}
.customers-icon{
    width: 106px;
height: 60px;
fill: $costomers;
}