/* Постійні клієнти */
.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
  padding-bottom: 94px;
  }

  &__title {
    color: $subtitles-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.84px;
    margin-bottom: 38px;

    @media screen and (min-width: 1200px){
      letter-spacing: 1.08px;
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item{
    flex-basis: calc((100% - 30px)/2);
    @media screen and (min-width: 480px){
      flex-basis: calc((100% - 30px)/2);
    }
    @media screen and (min-width: 768px){
      flex-basis: calc((100% - 69px)/3);
    }
    @media screen and (min-width: 1200px){
      flex-basis: calc((100% - 150px)/6);
    }
  }
  &__link {
    width: 100%;
    height: 92px;
    border-radius: 4px;
    border: 1px solid $costomers;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include flex-box();
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 480px){
      width:210 ;
    }
    @media screen and (min-width: 786px){
      width: 225px;
    }
    @media screen and (min-width: 1200px){
      width: 170px;
    }

    &:hover {
      border: 1px solid $accent-color;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      .customers__icon {
        fill: $accent-color;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $costomers;
  }
}
