/* Footer */
.footer {
  background-color: $hero-section;
  padding-top: 60px;
  padding-bottom: 60px;

  & > .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: first baseline;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
    // gap:60px ;
  }
  &__wrapper {
    // margin-right: 70px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }
  &__logo {
    color: $accent-color;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }
  &__elemen {
    color: $title-color;
  }
  &__link {
    color: $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  &__address {
    color: $title-color;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__contact {
    color: $contact-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  /* Посилання  */
  &__wrap {
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-left: 165px;
      margin-top: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      text-align: start;
    }
  }
  &__titles {
    color: $title-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__elements {
    display: flex;
    gap: 10px;
  }
  &__links {
    width: 44px;
    height: 44px;
    background-color: $footer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
      .footer__icon {
        fill: $title-color;
      }
    }
  }

  &__icon {
    fill: $title-color;
    width: 20px;
    height: 20px;
  }
}

/* Розсилка */
.mailing {
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-left: auto;
    margin-top: 0;
  }
  &__title {
    color: $title-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    @media screen and (min-width: 1200px) {
      gap: 12px;
      flex-direction: row;
    }
  }
  &__input {
    width: 290px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid $border-mailing;
    background: $mailing-color;
    box-shadow: 0px 4px 4px 0px $button;
    margin-right: 12px;
    padding-left: 16px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  &__btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $accent-color;
    box-shadow: 0px 4px 4px 0px $button;
    color: $title-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 87;
    letter-spacing: 0.96px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: $title-color;
    margin-left: 10px;
  }
}
.contact__item:first-child {
  margin-bottom: 9px;
}
