/* Header */
.header {
  padding: 10px 0;
  @media screen and (min-width: 768px){
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px){
    padding: 25px 0;
  }
  &__box {
    display: flex;
    align-items: center;
    // @include flex-box($wrap: nowrap);
  }

  &__logo {
    margin-right: auto;
    color: $accent-color;
    font-family: "Raleway";
    font-size: 24px;
    line-height: 1.38;
    font-weight: 700;
    letter-spacing: 0.72px;

    @media screen and (min-width: 768px){
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px){
      font-size: 26px;
      margin-right: 93px;
      letter-spacing: 0.78px;
    }
  }
  &__element {
    color: $logo-color;
  }
  &__btn{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px){
      display: none;
    }

  }
  &__ic{
    width: 32px;
    height: 28px;
    fill: $logo-color;
  }
  &__list {
    display: none;
    gap: 10px;
    margin-left: auto;
    flex-direction: column;

    @media screen and (min-width: 768px){
      display: flex;
    }
    @media screen and (min-width: 1200px){
      gap: 30px;
      display: flex;
      flex-direction: row;
    }
  }
  &__link {
    color: $text-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.24px;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
    @extend %transition;

    &:hover {
      color: $accent-color;
      .header__icon {
        fill: $accent-color;
      }
    }
    @media screen and (min-width: 1200px){
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }
  &__icon {
    width: 16px;
    height: 12px;
    fill: $text-color;
    margin-right: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav {
  display: none;
  @media screen and (min-width: 768px){
    display: block;
  }
  &__list {
    display: flex;
    gap: 50px;
  }

  &__item {
    position: relative;
  }
  &__link {
    color: $subtitles-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accent-color;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: $accent-color;
      border-radius: 10px;
      position: absolute;
      left: 0px;
      bottom: -34px;
      opacity: 0;
      transform: scale(0);
      /* visibility: hidden; */
      transition-property: opacity, transform;
      @extend %transition;
      // transition-duration: 300ms;
      // transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    &:hover::after {
      display: block;
      opacity: 1;
      transform: scale(1);
      /* visibility: visible; */
    }

    &_btn{
      visibility: 0;
    }
  }



  .mobile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $title-color;
    opacity: 1;
    z-index: 1;

    &_close{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
    &_icon{
      width: 30px;
      width: 30px;
      fill: $text-color;

      &:hover,
      &:focus{
        .mobile-icon{
          fill: $accent-color
        }
      }
    }
  }
  .is-hidden{
    pointer-events: none;
    opacity: 0;
  }
}
.active {
  color: $accent-color;
}
.icon {
  width: 10px;
  height: 16px;
}
