/* Наша команда */
.team{
    background-color: $background-color;
    padding-top: 94px;
    padding-bottom: 94px;

    &__title{
        color:$subtitles-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        margin-bottom: 50px;
    }
    &__list{
        display: flex;
        gap: 30px;
    }
    &__item{
        box-shadow: 0px 1px 3px 0px $shadow, 0px 1px 1px 0px $shadow-team, 0px 2px 1px 0px $shadow-employees;
        border-radius: 4px;
    }
    &__picture{
        width: 270px;
        height: 260px;
    }
    &__employees{
        background-color: $title-color;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 4px;
    }
    &__subtitles{
        color: $subtitles-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height:1.19;
        margin-bottom: 10px;
    }
    &__text{
        color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height:1.19;
    }
    &__elements{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    &__link{
        width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $title-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property:background-color, fill;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;

    &:hover{
        background-color: $accent-color;
        .team__icon{
            fill: $title-color;
        }
    }
    }
    
    &__icon{
        fill: $costomers;
        width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1); 
    }
 }

